* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #e0f7fa;
}
nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end; /* Aligne le contenu du nav à droite */
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
